@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-full {
    box-shadow: #e5e5e5 0px 0px 5px 3px;
}

.shadow-arrow {
    box-shadow: #e5e5e5 -2px -2px 2px 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(39, 39, 39);
    background-color: #fafafa;
}

.roboto {
    font-family: 'Roboto', sans-serif;

}
.displaynone{
    display: none;
}
.commonBox {
    background: rgba(var(--d87,255,255,255),1);
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
}